body {
    background-color: #d0cfca;
}

.body-content {
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a.user-tag {
    color: #1b1e21;
}

a.user-link {
    color: #1b1e21;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
