.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.media-content {
    padding:1px;
    border:1px solid black;
    background: #1b1e21;
}

.data-content {
    padding:1px;
    border:1px solid black;
    background: #fff6e3;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.media-height {
    height: 335px;
}

.circle {
    width: 400px;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 5%;
    overflow:hidden;
    position:relative;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
