#big-avatar {
    height: 200px;
    width: 200px;
    margin-bottom: 15px;
    margin-left: 25px;
    border: 1px solid #99aab9;
    padding: 5px;
    border-radius: 50%;
    vertical-align: middle;

    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35);
}