.round-corner {
    border-radius: 25px;
    border: 1px solid #71696c;
    padding: 20px;
    width: auto;
    height: auto;
}

.search-body {
    min-height: 430px;
}

.search-message {
    text-align: center;
    color:#6c757d!important;
}

.search-addition {
    vertical-align: text-top;
    text-align: right;
    color:#6c757d!important;
}