#movieNb-search-form{
    width:350px;
    height: 50%;
    font-size: 10pt;
}

input.nav-search:valid {
    background-color: #343a40!important;
}

input.nav-search:focus {
    background-color: #ffffff!important;
}

#movieNb-right-menu{
    margin-left: 30px;
}

.movieNb-item{
    margin-right: 8px;
}

.navbar {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
}

.inset {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow:
            inset 0 0 0 2px rgba(255,255,255,0.6),
            0 1px 1px rgba(0,0,0,0.1);
    background-color: transparent !important;
    z-index: 999;
}

.inset img {
    border-radius: inherit;
    width: 48px;
    height: 48px;
    display: block;
    position: relative;
    z-index: 998;
}
.nav-link {
    margin-top: 7px;
}
